.blog-top-section{
    .shop-all-inner{
        background-image: url(../assets/Blog/blog.jpg);
        padding: 380px 0;
        @media(max-width: 1440px){
            padding: 300px 0;
        }
        @media(max-width: 1199px){
            padding: 250px 0;
        }
        @media(max-width: 767px){
            padding: 200px 0;
        }
        @media(max-width: 575px){
            display: flex;
            justify-content: center;
            align-items: center;
        }
        position: relative;
        .blog-top-content{
            position: absolute;
            left: 100px;
            bottom: 80px;
            text-align: left;
            @media(max-width: 1440px){
                left: 80px;
                bottom: 60px;
            }
            @media(max-width: 1199px){
                left: 60px;
                bottom: 40px;
            }
            @media(max-width: 767px){
                left: 0;
                bottom: 30px;
            }
            @media(max-width: 575px){
                // position: unset;
                text-align: center;
            }
            h2{
                color: $white;
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 0.02em;
                @media(max-width: 1199px){
                    font-size: 36px;
                }
                @media(max-width: 991px){
                    font-size: 32px;
                }
                @media(max-width: 767px){
                    font-size: 28px;
                }
                @media(max-width: 450px){
                    font-size: 24px;
                }
            }
            .read-more-btn-wrapper{
                a{
                    text-decoration: underline;
                    color: $white;
                    font-size: 24px;
                    font-weight: 500;
                    letter-spacing: -0.02em;
                    transition: 0.3s;
                    @media(max-width: 1199px){
                        font-size: 20px;
                    }
                    @media(max-width: 767px){
                        font-size: 18px;
                    }
                    &:hover{
                        color: rgba(0,0,0,0.8);
                    }
                }
            }
        }
    }
}

.blog-bottom-wrapper{
    margin: 70px 0;
    @media(max-width: 767px){
        margin: 50px 0;
    }
    .blog-bottom-inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
        @media(max-width: 767px){
            grid-template-columns: 1fr;
            grid-row-gap: 50px;
        }
        .blog-bottom-left{
            border: 5px solid $white;
            border-radius: 40px;
            overflow: hidden;
            background: #DAD7CD;
            .blog-bottom-image-wrapper{
                border-bottom: 5px solid $white;
                img{
                    width: 100%;
                    max-height: 947px;
                }
            }
            .blog-bottom-content{
                text-align: center;
                padding: 50px 10px;
                h2{
                    color: rgba(0,0,0,0.8);
                    font-size: 36px;
                    font-weight: 500;
                    @media(max-width: 1440px){
                        font-size: 25px;
                    }
                    @media(max-width: 1199px){
                        font-size: 22px;
                        margin-bottom: 0;
                    }
                }
                .read-more-btn-wrapper{
                    a{
                        text-decoration: underline;
                        color: rgba(0,0,0,1);
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: -0.02em;
                        transition: 0.3s;
                        @media(max-width: 1440px){
                            font-size: 20px;
                        }
                        @media(max-width: 1199px){
                            font-size: 18px;
                        }
                        &:hover{
                            color: $white;
                        }
                    }
                }
            }
        }
        .blog-bottom-right{
            border: 5px solid $white;
            border-radius: 40px;
            overflow: hidden;
            background: #DAD7CD;
            .blog-bottom-image-wrapper{
                border-bottom: 5px solid $white;
                img{
                    width: 100%;
                    max-height: 947px;
                }
            }
            .blog-bottom-content{
                text-align: center;
                padding: 50px 10px;
                h2{
                    color: rgba(0,0,0,0.8);
                    font-size: 36px;
                    font-weight: 500;
                    @media(max-width: 1440px){
                        font-size: 25px;
                    }
                    @media(max-width: 1199px){
                        font-size: 22px;
                        margin-bottom: 0;
                    }
                }
                .read-more-btn-wrapper{
                    a{
                        text-decoration: underline;
                        color: rgba(0,0,0,1);
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: -0.02em;
                        transition: 0.3s;
                        @media(max-width: 1440px){
                            font-size: 20px;
                        }
                        @media(max-width: 1199px){
                            font-size: 18px;
                        }
                        &:hover{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}


.mypagination {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin-top: 100px;
    margin-bottom: 70px;
    @media(max-width: 767px){
        margin-bottom: 50px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;

        a {
          color: rgba(0, 0, 0, 0.7);
          padding: 0 15px;
          transition: 0.3s;
          &:hover{
            color: rgba(0,0,0,0.4);
          }
        }
      }
    }
  }